<header>
  <h1 class="page-title fn p-name" property="name">
    {{ basics.contents[data_file].title }}{{ site.data.strings.colon }} {{ basics.name }}
  </h1>

  {% if basics.picture.size > 0 %}
    <img src="{{ basics.picture | absolute_url }}" class="avatar photo u-photo" alt="{{ basics.name }}" property="image" width="120" height="120" loading="lazy" />
  {% endif %}

  {% if basics.label %}
    {% assign updated_at = site.time | date: site.data.strings.date_formats.last_updated_at %}
    <p class="h3 faded subline title p-job-title" property="jobTitle">
      {{ basics.label }}
      <time datetime="{{ updated_at }}" class="dt-published">({{ site.data.strings.last_updated_at }} {{ updated_at }})</time>
    </p>
  {% endif %}

  {% include components/message.html text=page.description hide=page.hide_description %}
</header>

{% assign top_note_content = page.top_note.text | default: page.top_note %}
{% if top_note_content != nil and top_note_content != "" %}
<blockquote class="top-note mt1 p-2 faded" style="border-left: 4px solid var(--border-color); margin-top: 1rem;">
  {{ top_note_content | markdownify | replace:'<p>','' | replace:'</p>','' }}
</blockquote>
{% endif %}

{% if basics.contents[data_file].abstract.size > 0 %}
  <p class="note p-note abstract" property="description">
    {{ basics.contents[data_file].abstract | markdownify | replace:'<p>','' | replace:'</p>','' }}
  </p>
{% endif %}
