{% assign color       = include.color       %}
{% assign theme_color = include.theme_color %}
@use "sass:color";
@use "sass:math";

html {
  --accent-color: {{ color }};
  --accent-color-faded: #{color.adjust({{ color }}, $alpha: -0.5)};
  --accent-color-highlight: #{color.adjust({{ color }}, $alpha: -0.9)};
  --accent-color-darkened: #{color.adjust({{ color }}, $lightness: -7.5%)};
  --theme-color: {{ theme_color }};
  --dark-mode-body-bg: #{color.change({{ theme_color }}, $saturation: math.div(color.channel({{ theme_color }}, "saturation", $space: hsl), 8), $lightness: 17.5%, $space: hsl)};
  --dark-mode-border-color: #{color.change({{ theme_color }}, $saturation: math.div(color.channel({{ theme_color }}, "saturation", $space: hsl), 8), $lightness: 22.5%, $space: hsl)};
}
