---
layout: page
---

{{ content }}

<h2>Tags</h2>

{% assign documents = site.documents %}
{% assign featured_tags = documents | where: "type", "tag" | sort %}
{% assign tags = site.tags | sort %}

<div style="margin-left: 1rem;">
  <ul class="related-posts">
    {% for tag in featured_tags %}
      <li>
        <a href="{{ tag.url | relative_url }}">{{ tag.title }}</a>
        {% for site_tag in tags %}
          {% if site_tag[0] == tag.slug %}
            <span class="faded fine">({{ site_tag | last | size }})</span>
            {% break %}
          {% endif %}
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
</div>
